
@{
    ViewBag.Title = "Contact";
}
 
<table class="table">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Pass</th>
    </tr>
   
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
   
</table>

<address>
    <strong>emaillink:</strong>   <a href="mailto:Support@example.com">email@example.com</a><br />
  
</address>