
@{
    ViewBag.Title = "Details";
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @*@Styles.Render("~/Content/css")*@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/details.css" rel="stylesheet" type="text/css" />
    @Scripts.Render("~/bundles/modernizr")

</head>

<h2>Details</h2>

<div class="card-wrapper">
    <div class="card">
        <!-- card left -->
        <div class="product-imgs">
            <div class="img-display">
                <div class="img-showcase">
                    <img src="~/images/f1.jpg" alt=" image">
                    <img src="~/images/f2.jpg" alt=" image">
                    <img src="~/images/f3.gif" alt=" image">
                    <img src="~/images/f1.jpg" alt=" image">
                </div>
            </div>
            <div class="img-select">
                <div class="img-item">
                    <a href="#" data-id="1">
                        <img src="~/images/f1.jpg" alt=" image">
                    </a>
                </div>
                <div class="img-item">
                    <a href="#" data-id="2">
                        <img src="~/images/f2.jpg" alt=" image">
                    </a>
                </div>
                <div class="img-item">
                    <a href="#" data-id="3">
                        <img src="~/images/f3.gif" alt=" image">
                    </a>
                </div>
                <div class="img-item">
                    <a href="#" data-id="4">
                        <img src="~/images/f1.jpg" alt=" image">
                    </a>
                </div>
            </div>
        </div>
        <!-- card right -->
        <div class="product-content">
            <h2 class="product-title">Bloodfriend</h2>
            
            <div class="heart-btn">
                <div class="content">
                    <span class="heart"></span>
                    <span class="text">❤️ Like</span>
                    <span class="numb"></span>
                </div>
            </div>
                <div class="product-price">
                    <p class="last-price">Goal: <span>$949000.00</span></p>
                    <p class="new-price">Raised: <span>$52010.00</span></p>
                </div>

                <div class="product-detail">
                    <h2>about this Project: </h2>
                    <p>Bloodfriend is a Bangladeshi born blood donation focused social networking platform, aimed to connect, empower, and activate society to fight 'Scarcity for Blood' and make it a past. This is the world’s First Blood Donor-focused global social networking platform where one can connect with people of the same blood group and blood donors very easily and efficiently.</p>
                    <p>Bloodfriend is a Bangladeshi born blood donation focused social networking platform, aimed to connect, empower, and activate society to fight 'Scarcity for Blood' and make it a past. This is the world’s First Blood Donor-focused global social networking platfo.</p>
                    <ul>
                        <li>Location: <span>Bangladesh</span></li>
                        <li>Availability: <span>Raising Fund</span></li>
                        <li>Category: <span>Social networking</span></li>
                        <li>Donations From: <span>All over the world</span></li>
                        <li>Shipping Fee: <span>Free</span></li>
                    </ul>
                </div>

                <div class="purchase-info">
          
                    <input type="number" min="10" value="10">
                    <button type="button" class="btn">
                        Donate <i class="far fa-credit-card"></i>
                    </button>

                </div>

                <div class="social-links">
                    <p>Share At: </p>
                    <a href="#">
                        <i class="fa fa-facebook-f"></i>
                    </a>
                    <a href="#">
                        <i class="fa fa-twitter"></i>
                    </a>
                    <a href="#">
                        <i class="fa fa-instagram"></i>
                    </a>
                    <a href="#">
                        <i class="fa fa-whatsapp"></i>
                    </a>
                    <a href="#">
                        <i class="fa fa-pinterest"></i>
                    </a>
                </div>
            </div>
    </div>
</div>

<script src="~/Scripts/script.js"></script>