@model Getfund.Models.Donation
@{
    ViewBag.Title = "Donate";
}
<head>

    <link rel="stylesheet" href="~/Content/post.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
</head>
<body>
    <main>
        <div class="box">
            <div class="inner-box">
                <div class="tab-content p-4 p-md-5" id="v-pills-tabContent">

                    <h3 class="mb-4">Donating to project</h3>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Project Name</label>
                                <input type="text" class="form-control" value="Model.Name">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Donation Amount</label>
                                <input type="number" class="form-control" value="0" min="0">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Transaction ID</label>
                                <input type="text" class="form-control" value="Payment Way">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Donations from</label>
                                <input type="text" class="form-control" value="Owner Name">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Project Owner</label>
                                <input type="text" class="form-control" value="Project Owner">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Project Name</label>
                                <textarea class="form-control" rows="1">Description about the project will be here.</textarea>
                            </div>
                        </div>
                    </div>
                    
                    <div>
                        <button class="btn btn-primary">Update</button>
                        <button class="btn btn-light">Cancel</button>
                    </div>
                </div>

            </div>
        </div>

    </main>

    <script src="~/Scripts/post.js"></script>

</body>
