@model List<Getfund.Models.Project>

@{
    ViewBag.Title = "Home Page";
}


<head>
    <link href="~/Content/MyMainLayOut.css" rel="stylesheet" type="text/css" />
</head>


<div class="showcase-area">
    <div class="container">
        <div class="left">
            <div class="big-title">
                <h1>
                    Trusted fundraising for all of life's moments
                </h1>
                <h3>Start Exploring now.</h3>
            </div>
            <p class="text">
                Get help. Give kindness. Start in just 5 minutes.
            </p>
            <div class="cta">
                @if (Session["UsernameSS"] != null)
                {
                    <a href="/Home/Post" class="btn">Get started</a>
                }
                else
                {
                    <a href="/Home/LoginPage" class="btn">Get started</a>
                }

            </div>
        </div>

        <div class="right">
            <img src="~/images/b1.png" alt="Image" class="person" />
        </div>
    </div>
</div>

<div class="container">

    <div class="olContent f1"><h2 style="color:green"><b>Top Fundraisers</b></h2></div>



    <div class="container2">
        <div class="row justify-content-center">
            @foreach (var item in Model)
            {
                <div class="col-lg-4 col-md-4">
                    <div class="card shadow" style="width: 100%;">
                        <div class="inner">
                            <img src="@item.VideoLink" class="card-img-top" alt="...">
                        </div>
                        <div class="card-body text-center">
                            <h5 class="card-title">@item.Title</h5>
                            <p class="card-text">@item.Info.</p>
                            <form action="/Home/Details" autocomplete="off" class="sign-up-form">
                                <input type="hidden"
                                       name="BoxID"
                                       id="BoxID"
                                       minlength="4"
                                       value="@item.PId"
                                       required />
                                <input type="submit" value="Learn More" class="sign-btn" />
                            </form>
                        </div>
                    </div>
                </div>
            }
            <!--<div class="col-lg-4 col-md-4">
        <div class="card shadow" style="width: 100%;">
            <div class="inner">
                <img src="~/images/p2.jpg" class="card-img-top" alt="...">
            </div>
            <div class="card-body text-center">
                <h5 class="card-title">Easy Flight Search</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="/Home/Details" class="btn btn-outline-success">Learn More</a>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-4">
        <div class="card shadow" style="width: 100%;">
            <div class="inner">
                <img src="~/images/p3.jpg" class="card-img-top" alt="...">
            </div>
            <div class="card-body text-center">
                <h5 class="card-title">Easy Flight Search</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="/Home/Details" class="btn btn-outline-success">Learn More</a>
            </div>
        </div>
    </div>-->
        </div>
    </div>

    <div class="container2">
        <div class="card mb-3" style="max-width: 100%;">
            <div class="row g-0">
                <div class="col-md-6">
                    <img class="img-fluid rounded-start" style="height:350px;width:100%" src="~/images/p3.jpg">
                </div>
                <div class="col-md-6">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

