@model List<Getfund.Models.Project>

@{
    ViewBag.Title = "Home Page";
}


<head>
    <link href="~/Content/MyMainLayOut.css" rel="stylesheet" type="text/css" />
</head>


<!---<div class="container5">
    <div class="card-banner mb-3" style="max-width: 100%;">
        <div class="row g-0">

            <div class="col-md-6">
                <div class="card-body2">
                    <p class="card-tt">Trusted fundraising for all of life's moments</p>
                    <p class="card-txt">Get help. Give kindness. Start in just 5 minutes.</p>
                    <button type="button" class="btn">Start GettingFund</button>

                </div>
            </div>
            <div class="b-pic col-md-6">
                <img class="img-fluid rounded-start" style="max-height:500px;width:100%" src="~/images/b1.png">
            </div>
        </div>
    </div>
</div>
    -->

<div class="showcase-area">
    <div class="container">
        <div class="left">
            <div class="big-title">
                <h1>
                    Trusted fundraising for all of life's moments
                </h1>
                <h3>Start Exploring now.</h3>
            </div>
            <p class="text">
                Get help. Give kindness. Start in just 5 minutes.
            </p>
            <div class="cta">
                <a href="#" class="btn">Get started</a>
            </div>
        </div>

        <div class="right">
            <img src="~/images/b1.png" alt="Image" class="person" />
        </div>
    </div>
</div>

<div class="container">

    <!--<div id="themeSlider" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#themeSlider" data-slide-to="0" class="active"></li>
            <li data-target="#themeSlider" data-slide-to="1"></li>
            <li data-target="#themeSlider" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="item active">
                <div class="imgOverlay"></div>
                <img style="height:350px;width:100%" src="~/images/m1.jpg" alt="First slide">
                <div class="carousel-caption">
                    <h3>New</h3>

                </div>
            </div>
            <div class="item">
                <div class="imgOverlay"></div>
                <img style="height:350px;width:100%" src="~/images/m2.jpg" alt="Second slide">
                <div class="carousel-caption">
                    <h3>My Phone</h3>

                </div>
            </div>
            <div class="item">
                <div class="imgOverlay"></div>
                <img style="height:350px;width:100%" src="~/images/p3.jpg" alt="Third slide">
                <div class="carousel-caption">
                    <h3>Latest</h3>

                </div>
            </div>
        </div>
        <a class="left carousel-control" href="#themeSlider" data-slide="prev">
            <span class="fa fa-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#themeSlider" data-slide="next">
            <span class="fa fa-chevron-right"></span>
        </a>

    </div>-->
    <div class="olContent f1"><h2 style="color:green"><b>Top Fundraisers</b></h2></div>



    <div class="container2">
        <div class="row justify-content-center">
            @foreach (var item in Model)
            {
                <div class="col-lg-4 col-md-4">
                    <div class="card shadow" style="width: 100%;">
                        <div class="inner">
                            <img src="~/images/p1.jpg" class="card-img-top" alt="...">
                        </div>
                        <div class="card-body text-center">
                            <h5 class="card-title">@item.Title</h5>
                            <p class="card-text">@item.Info.</p>
                            <form action="/Home/Details" autocomplete="off" class="sign-up-form">
                                <input type="hidden"
                                       name="BoxID"
                                       id="BoxID"
                                       minlength="4"
                                       value="@item.PId"
                                       required />
                                <input type="submit" value="Learn More" class="sign-btn" />
                                <!--<a href="/Home/Details" class="btn btn-outline-success">Learn More</a>-->
                            </form>
                        </div>
                    </div>
                </div>
            }
            <!--<div class="col-lg-4 col-md-4">
        <div class="card shadow" style="width: 100%;">
            <div class="inner">
                <img src="~/images/p2.jpg" class="card-img-top" alt="...">
            </div>
            <div class="card-body text-center">
                <h5 class="card-title">Easy Flight Search</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="/Home/Details" class="btn btn-outline-success">Learn More</a>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-4">
        <div class="card shadow" style="width: 100%;">
            <div class="inner">
                <img src="~/images/p3.jpg" class="card-img-top" alt="...">
            </div>
            <div class="card-body text-center">
                <h5 class="card-title">Easy Flight Search</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="/Home/Details" class="btn btn-outline-success">Learn More</a>
            </div>
        </div>
    </div>-->
        </div>
    </div>

    <div class="container2">
        <div class="card mb-3" style="max-width: 100%;">
            <div class="row g-0">
                <div class="col-md-6">
                    <img class="img-fluid rounded-start" style="height:350px;width:100%" src="~/images/p3.jpg">
                </div>
                <div class="col-md-6">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

