@model List<Getfund.Models.Project>
@{
    ViewBag.Title = "ProjectList";
}
<head>

    <link rel="stylesheet" href="~/Content/project.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
</head>
<body>
    <div class="container">
        <div class="container2">
            <div class="row justify-content-center">
                <!-- <div>
                <form action="/Home/Post">
                    <button class="btn btn-primary">Add new Posts</button>
                </form>
                    </div>-->
                @foreach (var item in Model)
                {
                    <div class="col-lg-4 col-md-4">


                        <div class="card shadow" style="width: 100%;">
                            <div class="inner">
                                <img src="@item.VideoLink" class="card-img-top" alt="...">
                            </div>
                            <div class="card-body text-center">
                                <h5 class="card-title">@item.Title</h5>
                                <p class="card-text">@item.Info.</p>
                                <form action="/Home/Details" autocomplete="off" class="sign-up-form">
                                    <input type="hidden"
                                           name="BoxID"
                                           id="BoxID"
                                           value="@item.PId"
                                           required />
                                    <input type="submit" value="Learn More" class="btn" />
                                </form>
                            </div>
                        </div>
                    </div>
                }


            </div>
        </div>

    </div>

    <script src="~/Scripts/post.js"></script>

</body>
