

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <p>
            Thank you for signing up at GetFund.
            To finish registration <a href="@ViewBag.ConfirmationLink">Click Here</a>
        </p>
    </div>
</body>
</html>
